@page
@using Microsoft.AspNetCore.Mvc.Localization
@using HQSOFT.Common.Localization
@using HQSOFT.Common.Web.Pages.Common.HQShares
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using HQSOFT.Common.HQShares;
@using System.Globalization
@inject IHtmlLocalizer<CommonResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Common/HQShares/EditModal" autocomplete="off">
    <abp-modal id="HQShareEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="HQShare.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    

            <abp-input asp-for="HQShare.IDParent"   />


            <abp-input asp-for="HQShare.CanRead"   />


            <abp-input asp-for="HQShare.CanWrite"   />


            <abp-input asp-for="HQShare.CanSubmit"   />


            <abp-input asp-for="HQShare.CanShare"   />

                                <div class="form-group">
                <label for="HQShare_IdentityUserId">@L["IdentityUser"]</label>
                <select id="HQShare_IdentityUserId"
                         name="HQShare.IdentityUserId"
                         class="custom-select form-control"
                         data-value="@Model.HQShare.IdentityUserId" >
                    @if (Model.IdentityUser != null)
                    {
                        <option value="@Model.HQShare.IdentityUserId">@Model.IdentityUser.Email</option>
                    }
                </select>
            </div>

                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>